

.imagenlogo {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.imagentabla {
    height: 450px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.imagentabla2 {
    height: 280px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.imagentabla3 {
    height: 180px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}


.fondologo {
    background: linear-gradient(0deg, rgba(79,79,79,1) 0%, rgba(56,56,56,1) 100%);
   
  

}

.fondosecciones{
    background-color:lightcyan;
}

.tablablancofocus {
   background-color: #e9692c;
   border: 1px solid #e9692c;
}
.tablesecciones {
	   border: 1px solid rgb(255, 255, 255);
	   border-collapse: collapse;
	   table-layout: fixed;
	   width:100%;
	   text-align:center;
	   
}


.tr1 {
    border:1px solid lightcyan; 
    width:33%;
    height:40px;
    

}

.imagenesrs { 
	height:80px;
	width:80px;
	padding:15px;
}

.tabla2centro {
    margin-top:10px;
  margin-left: auto;
  margin-right: auto;
   
  border:1px solid black;
  background-color:white;
  width:950px;
  height:1000px;
  border-radius: 30px; /* Bordes circulares*/
  
}

.tablaformulario {
    margin-top:40px;
  margin-left: auto;
  margin-right: auto;
  border:1px solid black;
  background-color:white;
  width:950px;
  height:1000px;
  border-radius: 30px; /* Bordes circulares*/
}

.tablaformulario2 {
    margin-top:5px;
  margin-left: auto;
  margin-right: auto;
  border:1px solid black;
  background-color:white;
  width:900px;
  height:700px;
  border-radius: 30px; /* Bordes circulares*/
  
}

.textarea {
    resize: none;
}
a {
    font-family: 'Nunito Sans', sans-serif;
    color:black;
    text-decoration:none;
    
}

.asinclick {
    font-family: 'Nunito Sans', sans-serif;
    color:black;
    user-select: none;
}

.fondobusqueda {
    background-color: #e9692c;
    border:1px solid orange;
    position:absolute;
    top:50px;
    right:20px;
    border-radius: 18px;
  
}

.fondo1{
    background-image: url('../imagenes/fonuno.jpg');
    margin:0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    
}

.fondo2{
    background-image: url('../imagenes/fonqs.jpg');
    margin:0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.fondo3 {
    background-image: url('../imagenes/fonfaq.jpg');
    margin:0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.fondo4 {
    background-image: url('../imagenes/fonproye.jpg');
    margin:0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.medioarriba {
    text-align:center;
	vertical-align:top;
    
}

.noticias {
	text-align:justify;
	vertical-align:top;
   
	
}

.medioredesociales {
	margin-top:10px;
	text-align:center;
	}

.margenimg {
	margin-right:20px;
	}
	
.tdaltura {	
	height:15px; 
    font-family: 'Nunito Sans', sans-serif;
	}
	

#page-container {
        position: relative;
        min-height: 100vh;
      }
    





 footer {
    
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightcyan;
        color: black;
        text-align: center;
        position: absolute;
      }


li {
      
    list-style-position:inside;
    margin-bottom:10px;
    }

.borde {
    padding-left:20px;
    padding-top:10px;
    padding-right:20px;
    padding-bottom:10px;
    text-align:center;
    
}

.texto1 {
    font-size: 20px;
}

.botonNavbar {
    width: 100%;
    height: 100%;
}

.botonNavbar:hover {
    width: 100%;
    height: 100%;
    color:white;
}

.tdh:hover{
    background-color: #e9692c;
    border: 1px solid #e9692c;
}